@model personaModel
@{
    ViewData["Title"] = "Editar";
}

<h1 class="d-flex justify-content-center">Editar Persona</h1>

<form asp-action="Editar" asp-controller="persona">
    <input asp-for="id" type="hidden" class="form-control">
    <div class="form-group">
        <label>Nombre Completo</label>
        <input asp-for="nombreCompleto" type="text" class="form-control" required>
        <span asp-validation-for="nombreCompleto" class="text-danger"></span>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Sexo</label>
            <select asp-for="idSexo" class="form-control" asp-items="ViewBag.SexoOptions" required>
                <option value="" disabled selected>Seleccione un sexo</option>
                @foreach (var option in ViewBag.SexoOptions)
                {
                    <option value="@option.Value">@option.Text</option>
                }
            </select>
            <span asp-validation-for="idSexo" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Documento ID</label>
            <input asp-for="documentoId" type="text" class="form-control" required>
            <span asp-validation-for="documentoId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Correo</label>
            <input asp-for="correo" type="email" class="form-control" required>
            <span asp-validation-for="correo" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Telefono</label>
            <input asp-for="telefono" type="text" class="form-control" required>
            <span asp-validation-for="telefono" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Grupo</label>
            <select asp-for="idGrupo" class="form-control" asp-items="ViewBag.GrupoOptions" required>
                <option value="" disabled selected>Seleccione un grupo</option>
                @foreach (var option in ViewBag.GrupoOptions)
                {
                    <option value="@option.Value">@option.Text</option>
                }
            </select>
            <span asp-validation-for="idGrupo" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Habitación</label>
            <select asp-for="idHabitacion" class="form-control" asp-items="ViewBag.HabitacionOptions" required>
                <option value="" disabled selected>Seleccione una habitación</option>
                @foreach (var option in ViewBag.HabitacionOptions)
                {
                    <option value="@option.Value">@option.Text</option>
                }
            </select>
            <span asp-validation-for="idHabitacion" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Rol</label>
            <select asp-for="idRol" class="form-control" asp-items="ViewBag.RolOptions" required>
                <option value="" disabled selected>Seleccione un rol</option>
                @foreach (var option in ViewBag.RolOptions)
                {
                    <option value="@option.Value">@option.Text</option>
                }
            </select>
            <span asp-validation-for="idRol" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Alergias en Alimentación</label>
            <textarea asp-for="alergiaAlimentacion" class="form-control" required></textarea>
            <span asp-validation-for="alergiaAlimentacion" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label>Alergias Varias</label>
        <textarea asp-for="alegiaVarias" class="form-control" required></textarea>
        <span asp-validation-for="alegiaVarias" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Observaciones</label>
        <textarea asp-for="observaciones" class="form-control" required></textarea>
        <span asp-validation-for="observaciones" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Editar Persona</button>
    <a asp-action="Listar" asp-controller="persona" class="btn btn-warning">Volver a la Lista</a>
</form>
