@model List<nombreActividadesModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<section>
    <div class="container">

        <div class="row">
            <div class="col">
                <td>
                    <a asp-action="Guardar" asp-controller="actividad" class="btn btn-success"><i class="icon ion-logo-dribbble mr-2 lead"></i> Crear Actividad</a>
                </td>
            </div>
            <div class="col">
                <td>
                    <a asp-action="Listar" asp-controller="persona" class="btn btn-warning"><i class="icon ion-md-person mr-2 lead"></i> Crear Persona</a>
                </td>
            </div>
            <div class="col">
                <td>
                    <a asp-action="Listar" asp-controller="grupo" class="btn btn-info"><i class="icon ion-md-people mr-2 lead"></i> Crear Grupo</a>
                </td>
            </div>
        </div>
    </div>
</section>

<br />

<div class="table-responsive">
    <table class="table table-bordered table-striped thead-dark table-responsive">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Grupo</th>
                <th scope="col">Fecha de Inicio</th>
                <th scope="col">Fecha Final</th>
                <th scope="col">Recursos</th>
                <th scope="col">Responsable</th>
                <th scope="col">Lugar Desde</th>
                <th scope="col">Lugar Hacia</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Tipo Actividad</th>
                <th scope="col">Menu</th>
                <th scope="col">Vehiculo</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(a => a.fechaInicio))
            {
                <tr>
                    <td>@item.nombre</td>
                    <td>@item.nombreGrupo</td>
                    <td>@item.fechaInicio</td>
                    <td>@item.fechaFin</td>
                    <td>@item.recursos</td>
                    <td>@item.responsables</td>
                    <td>@item.lugarDesde</td>
                    <td>@item.LugarHacia</td>
                    <td>@item.observaciones</td>
                    <td>@item.nombreTipoActividad</td>
                    <td>@item.nombreMenu</td>
                    <td>@item.nombreVehiculo</td>
                    <td>
                        <a asp-action="Editar" asp-controller="actividad" class="btn btn-warning btn-sm" asp-route-id="@item.id">Editar</a>
                    </td>
                    <td>
                        <a asp-action="Eliminar" asp-controller="actividad" class="btn btn-danger btn-sm" asp-route-id="@item.id">Eliminar</a>
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-controller="Home"
   asp-action="GenerarPdf"
   class="btn btn-info text-white">Generar PDF</a>