@model List<menuModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<section>
    <div class="container">

        <div class="row">
            <div class="col">
                <td>
                    <a asp-action="Guardar" asp-controller="menu" class="btn btn-primary">Crear Menu</a>
                </td>
            </div>
            <div class="col">
                <td>
                    <a asp-action="Listar" asp-controller="recetas" class="btn btn-warning"><i class="icon ion-md-cart"></i> Agregar Receta</a>
                </td>
            </div>
            <div class="col">
                <td>
                    <a asp-action="Listar" asp-controller="productos" class="btn btn-info"><i class="icon ion-md-nutrition"></i> Agregar Producto</a>
                </td>
            </div>
        </div>
    </div>
</section>

<br />

<section>
    <div class="container">
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Nombre del Menu</th>
                    <th>Ver Detalles</th>
                    <th>Editar</th>
                    <th>Eliminar</th>      
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.nombre</td>
                        <td>
                            <a asp-action="ListarRecetas" asp-controller="menu" class="btn btn-warning  btn-sm" asp-route-idMenu="@item.id" asp-route-idRecetas="@item.id">Ver detalle</a>
                        </td>
                        <td>
                            <a asp-action="Editar" asp-controller="menu" class="btn btn-primary btn-sm" asp-route-id="@item.id">Editar</a>
                        </td>
                        <td>
                            <a asp-action="Eliminar" asp-controller="menu" class="btn btn-danger btn-sm" asp-route-id="@item.id">Eliminar</a>
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>


    </div>

</section>
<br />


