@model AppIncalink.Models.ComprasViewModel

<h3 class="d-flex justify-content-center">Lista de Compras</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nombre del Grupo</th>
            <th>Nombre del Producto</th>
            <th>Tipo de Medida</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var compra in Model.Compras)
        {
            <tr>
                <td>@compra.nombreGrupo</td>
                <td>@compra.nombreProducto</td>
                <td>@compra.tipoMedida</td>
                <td>@compra.cantidad</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Home"
   asp-action="GenerarComprasPdf"
   asp-route-idGrupo="@Model.IdGrupo"
   class="btn btn-info text-white">Generar PDF</a>
