@model List<personaModel>
@{
    ViewData["Title"] = "ListarPersonas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListarPersonas</h1>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>

                <th scope="col">Nombre Completo</th>
                <th scope="col">Sexo</th>
                <th scope="col">Documento ID</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Alergia Alimentación</th>
                <th scope="col">Alergia Varias</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Grupo</th>
                <th scope="col">Habitación</th>
                <th scope="col">Rol</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.nombreCompleto</td>
                    <td>@item.idSexo</td>
                    <td>@item.documentoId</td>
                    <td>@item.correo</td>
                    <td>@item.telefono</td>
                    <td>@item.alergiaAlimentacion</td>
                    <td>@item.alegiaVarias</td>
                    <td>@item.observaciones</td>
                    <td>@item.idGrupo</td>
                    <td>@item.idHabitacion</td>
                    <td>@item.idRol</td>

                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-controller="reportes" asp-action="MostrarPDFGrupo" target="_blank">Ver PDF en pagina</a>
</div>

